aiohttp
aiosignal
async-timeout
attrs
cachetools
cbor
certifi
charset-normalizer
click
frozenlist
google-auth
idna
iso8601
kopf
kubernetes
multidict
oauthlib
oisp
pyasn1
pyasn1-modules
Pygments
python-dateutil
python-json-logger
PyYAML
requests
requests-oauthlib
rsa
six
termcolor
typing-extensions
urllib3
websocket-client
yarl
